
// Top Header
$top-header-font-size: 0.75em;

// Cart
$widget-cart-icon-size: 2.1875em;
$widget-cart-total-color: $primary;
$widget-cart-total-size: 0.65em;
$widget-cart-total-padding: 0.833333333333333em 0.533333333333333em;

// Search
$widget-search-font-size: $font-size-sm;
$widget-search-inner-padding: mz-spacer(10) mz-spacer(20);
$widget-search-button-padding-x: mz-spacer(14);
$widget-search-dropdown-caret: '\f107';
$widget-search-dropdown-caret-left: mz-spacer(14);