.social-connect{
    .menu-items {
        margin-left: -$social-link-icon-margin;
        margin-right: -$social-link-icon-margin;
    }
    a.nav-link{
        color: $footer-text-color;
        padding: 0 !important;
        margin: $social-link-icon-margin;
        font-size: $social-link-icon-size;
        
        .icon{
            padding: $social-link-icon-padding !important;
            @include border-radius(10rem);
            background-color: darken($footer-bg-color, 5%);
            width: 1em;
            height: 1em;
            box-sizing: content-box;
            text-align: center;
        }
        
        &:hover .icon{
            color: color-contrast($primary);
            background-color: $primary;
        }
    }
    
    &.small{
        a.nav-link{
            font-size: inherit;
            
            .icon{
                padding: mz-spacer(10);
            }
        }
    }
}