{# 
Here is a file location of special page component

## special page specific component
- catalog/view/theme/mz_poco/template/product/special/*

## common component across the page including special page
- catalog/view/theme/mz_poco/template/product/common/*

Do following to add custom twig code in special page
Go to admin -> extension -> mazatheme -> layout builder -> special
and use "HTML/Twig/PHP" widget to add your own twig code
You can use variables from product/special controller

#}
{{ header }}

{% if mz_component %}
<script>$('body').prepend('{{ mz_component|e("js") }}');</script>
{% endif %}

<div id="product-special" class="content">{{ mz_content }}</div>
{{ footer }}