<div class="btn-group btn-group-sm">
  <button type="button" id="grid-view" class="btn btn-{{ color }}" data-bs-toggle="tooltip" title="{% verbatim %}{{ button_grid }}{% endverbatim %}"><i class="fas fa-th"></i></button>
  <button type="button" id="list-view" class="btn btn-{{ color }}" data-bs-toggle="tooltip" title="{% verbatim %}{{ button_list }}{% endverbatim %}"><i class="fas fa-th-list"></i></button>
</div>