{% verbatim %}
{% if products %}
<div class="row align-items-center">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
{% endif %}
{% endverbatim %}