.widget-search{
    border: $border-width solid $widget-search-border-color;
    padding: $widget-search-border-padding;
    @include border-radius();
}

#search{
    background-color: $white;
    align-items: center;
    
    // Search text imput
    input[type='text']{
        width: 100%;
        height: 100%;
        border: none;
        outline: 0;
        padding: 0 $widget-search-padding-x;
        color: $widget-search-input-font-color;
    }
    
    // category
    .search-category{
        flex: 0 0 auto;
        max-width: 50%;
        
        .dropdown-toggle {
            background-color: $widget-search-category-color;
            color: color-contrast($widget-search-category-color, lighten($dark, 8));
            padding: $widget-search-padding-y $widget-search-padding-x;
            border: none;
            cursor: pointer;
            height: 100%;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            
            &::after{
                @extend %font-awesome;
                display: inline;
                content: $widget-search-dropdown-caret;
                font-weight: 700;
                border: none;
                vertical-align: -.1em;
                @include rtl-prop(margin-left, $widget-search-dropdown-caret-left);
            }
        }
        
        // Fix the overflow problem in rtl
        .dropdown-item{
            white-space: normal;
        }
    }
    
    // Search button
    .search-button{
        flex: 0 0 auto;
        align-self: stretch;
        
        button{
            background-color: transparent;
            border: none;
            // outline: none !important;
            height: 100%;
            color: $widget-search-border-color;
            padding: mz-spacer(5) mz-spacer(12);
            
            .fa {
                line-height: inherit;
            }
        }
    }
    
    // Products
    .product-thumb{
        color: $dropdown-link-color;

        .image{
            flex: 0 0 auto;
        }
        
        &:hover{
            background-color: $dropdown-link-hover-bg;
            color: $dropdown-link-hover-color;
        }
    }
}

