{# 
Here is a file location of all article page component
- extension/maza/blog/common/*

#}
{{ header }}
{% if mz_component %}
<script>$('body').prepend('{{ mz_component|e("js") }}');</script>
{% endif %}
<div id="article-all" class="content">{{ mz_content }}</div>
{{ footer }}
