{# 
Here is a file location of search page component

## search page specific component
- extension/maza/blog/search/*

## common component across the page including search page
- extension/maza/blog/common/*

#}
{{ header }}
{% if mz_component %}
<script>$('body').prepend('{{ mz_component|e("js") }}');</script>
{% endif %}
<div id="article-search" class="content">{{ mz_content }}</div>
{{ footer }}
