.nav-tabs{
    margin-bottom: $nav-tab-margin-bottom;
    border-bottom: 0;
    
    .nav-link{
        color: $nav-tab-color;
        border: none;
        font-size: $nav-tab-font-size;
        @include breakpoint-font-size($nav-tab-font-size);
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        text-transform: uppercase;
        padding: $nav-tab-padding-y $nav-tab-padding-x;
        
        &.active, &.show, &:hover{
            color: $nav-tab-hover-color;
        }
    }
    
    .nav-item{
        margin-bottom: 0;
        
        &:not(:last-child){
            @include rtl-prop(margin-right, $nav-tab-margin-right);
        }
    }
}

.nav-pills{
    &.custom-pills-left, &.custom-pills-right{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        
        
        .nav-link{
            padding: mz-spacer(12) 0;
    
            &.active{
                color: $secondary;
                background-color: transparent;
                font-weight: $headings-font-weight;
            }
        }
    }
    &.custom-pills-left{
        @include rtl-prop(border-right, $border-width solid $border-color);

        .nav-link{
            @include rtl-prop(padding-right, $spacer);

            &.active{
                @include rtl-prop(border-right, $border-width solid $secondary);
                @include rtl-prop(margin-right, -$border-width);
                @include border-end-radius(0);
            }
        }
    }
    &.custom-pills-right{
        @include rtl-prop(border-left, $border-width solid $border-color);

        .nav-link{
            @include rtl-prop(padding-left, $spacer);

            &.active{
                @include rtl-prop(border-left, $border-width solid $secondary);
                @include rtl-prop(margin-left, -$border-width);
                @include border-start-radius(0);
            }
        }
    }
}