%headings-font{
    font-family: $headings-font-family;
}

%bottom-space{
    margin-bottom: $grid-gutter-width * 0.5; // this value also affected on product content
}

.content{
    &-extra{
        display: flex;
        flex-wrap: wrap;
        
        .author{
            font-weight: 600;
            text-decoration: none;
        }
    }
    &-share, &-description, &-tags, &-author, &-comment-form, &-comment-list{
        @extend %bottom-space;
    }
}

// Comments
.comments-list{
    li.media{
        &:last-of-type{
            margin-bottom: 0 !important;
        }
    }
    
    .reply-form{
        margin-top: map-get($spacers, 2);
    }
    
    .reply{
        font-size: 0.857em;
    }
}

[id^="article-"]:not([id="article-article"]), #blog-home{
    background-color: $light;
}