.nav-tabs{
    overflow: visible;
    margin-bottom: $nav-tab-margin-bottom;
    
    .nav-link{
        color: $nav-tab-color;
        border: none;
        border-bottom: $border-width solid transparent;

        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        text-transform: uppercase;
        position: relative;

        &:hover{
            color: $nav-tab-hover-color;
        }
        
        &.active, &.show{
            color: $nav-tab-hover-color;
            border-color: $nav-tabs-link-active-border-color;

            &::after{
                content: "";
                position: absolute;
                width: .5em;
                height: .5em;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%) rotate(45deg);
                border-bottom: $border-width solid $nav-tabs-link-active-border-color;
                border-right: $border-width solid $nav-tabs-link-active-border-color;
                background-color: $body-bg;
            }
        }
    }
}

// Fix in product page
#product-product{
    .nav-tabs{
        .nav-item{
            &:first-child .nav-link{
                @include rtl-prop(padding-left, 0);
            }
            &:last-child .nav-link{
                @include rtl-prop(padding-right, 0);
            }
        }
    }
}

.nav-pills{
    &.custom-pills-left, &.custom-pills-right{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        
        
        .nav-link{
            padding: mz-spacer(12) 0;
    
            &.active{
                color: $secondary;
                background-color: transparent;
                font-weight: $headings-font-weight;
            }
        }
    }
    &.custom-pills-left{
        @include rtl-prop(border-right, $border-width solid $border-color);

        .nav-link{
            @include rtl-prop(padding-right, $spacer);

            &.active{
                @include rtl-prop(border-right, $border-width solid $secondary);
                @include rtl-prop(margin-right, -$border-width);
                @include border-end-radius(0);
            }
        }
    }
    &.custom-pills-right{
        @include rtl-prop(border-left, $border-width solid $border-color);

        .nav-link{
            @include rtl-prop(padding-left, $spacer);

            &.active{
                @include rtl-prop(border-left, $border-width solid $secondary);
                @include rtl-prop(margin-left, -$border-width);
                @include border-start-radius(0);
            }
        }
    }
}