// Navs
$nav-tab-color: $gray-500;
$nav-tab-hover-color: $primary;
$nav-tab-font-size: mz-fs(18);
$nav-tab-margin-bottom: $spacer;

// Pagination
$pagination-margin-right: mz-spacer(10);

// Products
$product-title-font-size: mz-fs(16);
$product-listview-title-font-size: $product-title-font-size;
$product-deal-font-size: $font-size-sm;
$product-image-carousel-indicator-top: 15%;
$product-image-carousel-indicator-bottom: 15%;
$product-image-carousel-indicator-size: mz-spacer(30);
$product-image-carousel-indicator-margin: 5px;
$product-action-btn-padding: mz-spacer(12);
$product-caption-padding: $spacer 0 0;
$product-caption-item-margin-bottom: mz-spacer(10);
$product-manufacturer-color: $gray-600;
$product-price-line-height: 1.1;
$product-price-new-color: null;
$product-price-new-size: 1.2857142857em;
$product-price-old-color: $gray-600;
$product-price-old-size: 1em;
$product-price-tax-color: $gray-600;
$product-price-tax-font-size: .857em;
$product-rating-color: $secondary;
$product-rating-font-size: 0.8571428571em;

// Product label
$product-label-font-size: 0.75em;
$product-label-shape-square-padding: .5em .8em;
$product-label-shape-circle-padding: 0.584em;
$product-label-gutter: 16px;
$product-label-margin-bottom: $product-label-gutter * .5;
$product-label-color: $secondary;

// Articles
$article-title-font-size: mz-fs(18);
$article-caption-padding-top: mz-spacer(25);
$article-timestamp-color: $primary;
$article-metadata-background: $secondary;
$article-metadata-color: color-contrast($secondary);

// Testimnonial
$testimonial-quote-color: $primary;
$testimonial-description-margin-bottom: mz-spacer(30);
$testimonial-description-font-size: 1.125em;
$testimonial-description-font-family: null;
$testimonial-description-color: null;
$testimonial-author-font-size: $font-size-lg;
$testimonial-rating-color: #ffb100;
$testimonial-rating-font-size: .9em;
$testimonial-timestamp-color: $gray-600;
$testimonial-timestamp-font-size: $font-size-sm;

// Page
$page-gray: $gray-600;

// Module
$module-title-margin-bottom: mz-spacer(28);
$module-title-font-size: 1.714285714285714em;
$module-margin-bottom: mz-spacer(30);

// Category wall
$module-category-wall-hover-color: $primary;
$module-category-wall-font-size: 1.142857142857143em;
$module-category-wall-font-color: $body-color;
$module-category-wall-font-hover-color: $primary;

// Filter
$module-filter-card-header: mz-spacer(20) mz-spacer(30);
$module-filter-value-margin-bottom: mz-spacer(8);
$module-filter-group-header-padding: mz-spacer(30);
$module-filter-group-content-padding: mz-spacer(30);
$module-filter-reset-left-margin: mz-spacer(30);
$module-filter-product-total-font-size: 0.875em;

// Design menu
$design-nav-link-padding-y: mz-spacer(5);
