.module-mz_category_wall{
    a{
        display: block;
        color: inherit;
        text-decoration: none !important;
        margin-bottom: $grid-gutter-width;
    }
    .figure{
        width: 100%;
        text-align: center;
        margin: 0;
        vertical-align: top;
        
        .figure-img-wrapper{
            margin-bottom: mz-spacer(18);
            overflow: hidden;
            border-radius: 100%;
        }
        
        .figure-img{
            margin: 0;
            transition: transform .3s;
            /*border: $border-width solid $border-color;*/
        }
        h4{
            margin: 0;
            color: $module-category-wall-font-color;
            font-size: $module-category-wall-font-size;
            font-weight: $font-weight-bold;
            
            .icon{
                display: none;
            }
        }
        &:hover{
            .figure-img{
                transform: scale(1.1);
            }
            h4{
                color: $module-category-wall-font-hover-color;
            }
        }
    }
    
    // Slider
    .swiper-navigation{
        white-space: nowrap;
        cursor: pointer;
    }
    .swiper-slide a{
        margin: 0;
    }
    .swiper{
        margin-bottom: $grid-gutter-width;
    }
}