.breadcrumb {
    display: block;
    
    &-item {
        &, & a{
            display: inline;
            text-decoration: none;
        }

        &::before {
            float: none !important;
        }
    }
}