$footer-bg-color: $black;
$footer-text-color: color-contrast($footer-bg-color, $gray-700, $white);

$footer-headings-color: color-contrast($footer-bg-color);
$footer-headings-margin-bottom: mz-spacer(13);

// Social
$social-link-icon-margin: mz-spacer(6);
$social-link-icon-padding: mz-spacer(13);
$social-link-icon-size: 1.125em;

// Newsletter
$newsletter-button-padding: $btn-padding-y-lg mz-spacer(20);
$newsletter-input-font-size: 0.875em;
$newsletter-border-width: $input-border-width;
$newsletter-border-color: $primary;
$newsletter-border-radius: $border-radius;
