<form action="{{ action }}" method="post">
    <div class="buttons d-flex justify-content-between">
        <a href="{{ mz_back }}" class="btn btn-lg btn-secondary flex-grow-1 me-3"><i class="fas fa-caret-left"></i> {{ button_edit }}</a>
        <input type="submit" value="{{ button_confirm }}" class="btn btn-lg btn-primary flex-grow-1" />
    </div>
</form>
