{{ header }}

{% if mz_component %}
<script>$('body').prepend('{{ mz_component|e("js") }}');</script>
{% endif %}

<div id="information-information" class="content">{{ mz_content }}</div>
{{ footer }}