@import "skins/footer/megastore-5/variables";
@import "skins/footer/megastore-5/components/social";
@import "skins/footer/megastore-5/components/newsletter";

.footer{
    background-color: $footer-bg-color;
    color: $footer-text-color;

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
        color: $footer-headings-color;
    }
    
    .design, .module, .widget{
        &-title{
            font-size: $footer-headings-font-size;
            text-transform: uppercase;
            margin-bottom: $footer-headings-margin-bottom;
        }
    }
    .design-menu, .widget-contact_us{
        margin-bottom: 0;
    }
    .design-menu{
        .design-title{
            margin-bottom: $footer-headings-margin-bottom - $design-nav-link-padding-y;
        }
    }
    .widget-contact_us{
        .widget-title{
            margin-bottom: $footer-headings-margin-bottom - $design-nav-link-padding-y;
        }
    }
}