// Top Header
$top-header-font-size: $font-size-sm;
$top-header-bg-color: $dark;
$top-header-text-color: color-contrast($top-header-bg-color, darken($top-header-bg-color, 40), lighten($top-header-bg-color, 40));

// Cart
$widget-cart-icon-size: 2.1875em;
$widget-cart-total-color: $secondary;
$widget-cart-total-size: 0.75em;
$widget-cart-total-padding: 0.833333333333333em 0.533333333333333em;

// Search
$widget-search-border-width: $input-border-width;
$widget-search-border-radius: mz-spacer(500);
$widget-search-inner-padding: mz-spacer(8) 0;
$widget-search-button-color: $primary;
$widget-search-button-padding-x: mz-spacer(33);
$widget-search-bg-color: $white;
$widget-search-input-font-color: $gray-700;
$widget-search-dropdown-caret: '\f107';
$widget-search-dropdown-caret-left: mz-spacer(14);