.testimonials{
    h2, .page-title{
        text-align: center;
    }
    
    .swiper-pagination{
        position: static;
        bottom: 0;
        margin-top: $testimonial-description-margin-bottom;
    }
    .swiper-pagination-bullet-active{
        --swiper-pagination-color: #{$primary};
    }
    .btn{
        padding: $btn-padding-y-lg $btn-padding-x-lg;
        margin-top: $testimonial-description-margin-bottom;
    }
    h1,h2{
        font-size: $h2-font-size;
    }
    h1,#form{
        margin: map-get($spacers, 5) 0;
    }
    h2{
        margin-bottom: map-get($spacers, 5);
    }
    #form{
        padding: map-get($spacers, 5);
        border: $border-width solid $border-color;
        background-color: $light;
    }
}
.testimonial-thumb{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:not(.swiper-slide){
        margin-bottom: $grid-gutter-width;
    }
    
    .quote{
        color: $testimonial-quote-color;
        margin-bottom: mz-spacer(25);
    }
    .author{
        text-align: center;
        
        &-image{
            border-radius: 50%;
            overflow: hidden;
            border: $border-width solid $border-color;
            padding: $border-width * 3;
            margin-bottom: mz-spacer(25);
        }
        &-name{
            display: inline;
            font-size: $testimonial-author-font-size;
            margin: 0;
            text-transform: uppercase;
        }
        &-extra{
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            
            &::before{
                content: '(';
            }
            &::after{
                content: ')';
            }
        }
    }
    .description{
        margin-bottom: $testimonial-description-margin-bottom;
        flex: 1 1 auto;
        font-family: $testimonial-description-font-family;
        font-size: $testimonial-description-font-size;
        color: $testimonial-description-color;
    }
    .rating{
        color: $testimonial-rating-color;
        font-size: $testimonial-rating-font-size;
        margin-bottom: $spacer;
    }
    .timestamp{
        color: $testimonial-timestamp-color;
        font-size: $testimonial-timestamp-font-size;
    }
}

.module-mz_testimonial{
    .testimonial-thumb{
        padding-top: mz-spacer(25);
    }
    .testimonials{
        text-align: center;
    }
}